<a href="https://colab.research.google.com/github/JohnCarloAReyes/CPEN-21A-ECE-2-1-/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python Programming

In [2]:
#Phyton Identification
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Phyton Variable

In [4]:
x=1
a, b=0, 1
a,b,c= "Zero","One","Two"
print(x,a,b,c)

1 Zero One Two

In [5]:
d= "Sally" #This is a string
D= "Ana"
e= "John"
print (d,e,D)

Sally John Ana

In [7]:
print(type(d)) #This is a Type Function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [13]:
f= float(4)
print(f)
g= int(5)
print(g)

4.0
5

#Multiple Variables With One Value

In [14]:
a= y= s= "four"
print(a, y, s)

four four four

In [21]:
x= "Enjoying" 
print("Python Programming Is """ +x)

Python Programming Is Enjoying

#Operations in Phyton

In [22]:
x= 5
y= 7
x+=y #This is the same as x= x+y
print(x+y)
print(x*y)
print(x)

19
84
12

In [23]:
x=5
y=7
not(x>y or y==x)

True

In [24]:
x is y

False

In [25]:
x is not y

True