<a href="https://colab.research.google.com/github/JohnCarloAReyes/CPEN-21A-ECE-2-1-/blob/main/Loop%20Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [14]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [13]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [12]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break
  print(x)

Sunday
Sunday
Monday
Monday
Tuesday
Tuesday
Wednesday
Wednesday
Thursday

Looping through string

In [11]:
for x in "Python Programming":
  print(x)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

The range () function

In [10]:
for x in range(16):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [9]:
for x in range(2,16):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15

Nested loops

In [8]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#While Loop

In [7]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5
6

The break statement

In [6]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [5]:
i=0
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [4]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [3]:
#Create a Python program that displays Hello 0 to Hello 10 in vertical sequence
hello=["Hello"]
num=["0","1","2","3","4","5","6","7","8","9","10"]

#For Loop
for x in hello:
  for y in num:
    print(x,y)

#For While
i=0
while i<=10:
  print("Hello",i)
  i+=1 #Assignment operator for addition

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

#Application 2

In [1]:
#Create a Python program that displays integers less than 10 but not less than 3
i=3
while i<10:
  print(i)
  i+=1 #Assignment operator for addition

3
4
5
6
7
8
9